*.user
*.suo
*~
._*
_ReSharper.*
*.dotCover
*.swp
.idea
src/*/bin
src/*/*/bin

src/*/modules/*/Bin
src/*/modules/*/bin
misc/Clients/*/bin
misc/Clients/*/obj
.project
obj
build/*
*.cache
*.local.config
*.orig
*.BACKUP.*
*.BASE.*
*.REMOTE.*
*TestResult.xml

lib/NUnit/addins
localdata/*

Logs
./packages
*.DS_Store
